body {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0px;
    padding: 0px;
}

.btn {
    background-color: #d0d0d0;
}

.bar {
    height: 18px;
    background: green;
}

.btn:hover {
    background-color: #a4acbf;
    cursor: pointer;
}

.yourlib_header {
    width: 100%;
    /*margin-left: 5px;*/
    /*background-color: #E4ECFF;*/
    height: 50px;
    line-height:50px;
    z-index: 1;
    position: fixed;
    text-align: center;
}

.yourlib_header div {
    width: auto;
    white-space: nowrap;
    float: left;
}


#btn_rescan_library {
    width:auto;
    white-space: nowrap;
    float: left;
}

#logout {
    width: auto;
    white-space: nowrap;
    float: right;
}

/* only before yourlib_footer (not implemented) or after yourlib_header */
.stop_float {
    clear: both;
}

.sidebar {
    width: 300px;
    margin: 5px;
    position: fixed;
    left: 0px;
    top: 55px;
    white-space: nowrap;
    /*background-color: #d4d4df;*/
}

#context_container {
    width: 1000px;
    height: 550px;
    margin: 5px;
    background-color: #f8f8f8;
    position: absolute;
    left: 310px;
    top: 55px;
    overflow:hidden;
}

#context_header {
    width: 100%;
    height: 2em;
    line-height: 2em; /* vertical-align trick */
    /*background-color: #c4cCdF;*/
}

#context_header div {
    float: left;
    white-space: nowrap;
}

#context_header .btn {
    float: right;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


.sidebar h1 {
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    margin: 2px 0 2px 0;
}

.sidebar h2 {
    font-size: 1.0em;
    font-style: normal;
    font-weight: normal;
    margin: 1px 0 1px 0;
    padding: 0 0 0 15px;
}

.sidebar .currently_shown {
    font-weight: bold;
}

#player1_container {
    position: relative;
}
#player1_temp {
    position: relative;
}
#player1_info_container {
    position: relative;
}

.player_song_info {
    padding: 2px 0 2px 0;
    width: 100%;
    /*height: 1em;*/
}

.player_song_info div {
    /*width: 3px;
    float: left;*/
    width: 100%;
    white-space: nowrap;
    font-size: 0.8em;
    text-overflow: ellipsis;
    text-align: left;
}
/*
.player_song_info .artist {
    width: auto;
    max-width: 125px;
}

.player_song_info .title {
    width: auto;
    max-width: 125px;
}*/

.player_song_info .btn {
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
/*    float: right;
    width: auto;
    max-width: 40px;*/
}

/*
.collection .search .status {
    float: left;
}

.collection .search .input {
    float: left;
}
*/

.collection .artists {
    width: 200px;
    height: 100%;
    position: absolute;
    background-color: #f8f8f8;
    left: 0px;
    margin: 0px;
    padding: 5px;
    overflow: auto;
    overflow-x: hidden;
}

.songs {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    overflow-x: hidden;
}

.songs ul {
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
}

.collection ul {
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
}

/*
.collection li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
*/


#context_collection_container {
    background-color: #00ffff;
    width: 100%;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
}

#context_playlist_container {
    background-color: #00ffff;
    width: 100%;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
}

.currently_playing {
    /* dummy class to get/set currently playing */
}

.browse_column {
    height: 90%;
    width: 33%;
    float: left;
    margin: 0;
    margin-bottom: 10px
}

.browse_column ul {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    white-space: nowrap;

    list-style-type: none;
    padding: 0;
}

#context_browse_container .genre {
    background-color: #D0D0D0;
}

#context_browse_container .artist {
    background-color: #A4ACBF;
}

#context_browse_container .album {
    background-color: #008000;
}

.browse_artist_item {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
}

.song_items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px
}

.song_item_heading {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    /*cursor: pointer;*/
}

.song_item_heading li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.song_item_heading ul {
    padding: 0;
}

.song_item {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    cursor: pointer;
}

.song_item li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.song_item ul {
    padding: 0;
}

.song_info {
    margin-left: 2px;
    margin-right: 2px;
}

/* playlist only */
.song_item .pos {
    text-align: right;
    width: 20px;
}

.song_item .artist {
    width: 300px;
}
.song_item .title {
    width: 300px;
}

.song_item .album {
    width: 250px;
}

/* album track number */
.song_item .track {
    text-align: right;
    width: 20px;
}

.song_item .genre {
    width: 250px;
}

.song_item .mime {
    width: 35px;
}

/* additional settings/functions */
.song_item .func {
    width: 25px;
}
.song_items br {
    clear: left;
}

.song_items li {
     float: left;
}

.song_item .collection_add_to .playlists {
    display: none;
    position: absolute;
    top: 0.7em;
}

/*

.song_item .song_info {
    width: 50%;
}

.player .controls {
}

.player .info div {
    white-space: nowrap;
    float: left;
}
*/

