body {
    font-family: Arial,Helvetica,sans-serif;
    margin: 0px;
    padding: 0px;
}

.btn {
    margin: 1px;
    background-color: #d0d0d0;
}

.btn:hover {
    background-color: #a4acbf;
    cursor: pointer;
}

.yourlib_header {
    width: 100%;
    margin-left: 5px;
    background-color: #E4ECFF;
    height: 50px;
    z-index: 1;
    position: fixed;
}


.yourlib_header div {
    white-space: nowrap;
    float: left;
}

/* only before yourlib_footer (not implemented) or after yourlib_header */
.stop_float {
    clear: both;
}

.sidebar {
    width: 300px;
    margin: 5px;
    position: fixed;
    left: 0px;
    top: 55px;
    white-space: nowrap;
    background-color: #d4d4df;
}

.context_container {
    width: 1000px;
    height: 550px;
    margin: 5px;
    background-color: #f8f8f8;
    position: absolute;
    left: 310px;
    top: 55px;
    overflow:hidden;
}

.context_container .header {
    width: 100%;
    height: 2em;
    background-color: #c4cCdF;
}

.context_container .header div {
    float: left;
    white-space: nowrap;
}


.sidebar h1 {
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
}

.sidebar .container {
    background-color: #f0f0f0;
    margin-left: 5;
    margin-right: 5;
}

.sidebar .playlists {
    margin-left: 5;
    margin-right: 5;
    background-color: #f8f8f8;
}

.player_song_info div {
    float: left;
    white-space: nowrap;
    font-size: 0.8em;
    text-overflow: ellipsis;
}

/*
.collection .search .status {
    float: left;
}

.collection .search .input {
    float: left;
}
*/

.collection .artists {
    width: 200px;
    height: 100%;
    position: absolute;
    background-color: #f8f8f8;
    left: 0px;
    margin: 0px;
    padding: 5px;
    overflow: auto;
    overflow-x: hidden;
}

.collection .songs {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #f0f0f0;
    overflow: auto;
    overflow-x: hidden;
}


.songs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.collection ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*
.collection li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
*/

.collection .artists li:hover {
    background-color: #f0f0f0;
}

#context_collection_container {
    background-color: #00ffff;
    width: 100%;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
}

.currently_playing {
    color: #dd3333;
}

.song_item {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
}

.song_item li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.song_item .artist {
    width: 300px;
}
.song_item .title {
    width: 300px;
}

.song_item .album {
    width: 250px;
}

.song_item .mime {
    width: 40px;
}

.song_items br {
    clear: left;
}

.song_item .collection_add_to .playlists {
    display: none;
    position: absolute;
    top: 0.7em;
}

/*

.song_item .song_info {
    width: 50%;
}

.player .controls {
}

.player .info div {
    white-space: nowrap;
    float: left;
}
*/

