body {
    font-family: Arial,Helvetica,sans-serif;
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.btn {
    /*background-color: #d0d0d0;*/
}
/* stop user input */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}

.btn:hover {
    cursor: pointer;
}

.yourlib_header {
    width: 100%;
    /*margin-left: 5px;*/
    /*background-color: #E4ECFF;*/
    height: 50px;
    line-height:50px;
    z-index: 1;
    position: fixed;
    text-align: center;
}

.yourlib_header div {
    width: auto;
    white-space: nowrap;
    float: left;
}


#btn_rescan_library {
    width:auto;
    white-space: nowrap;
    float: left;
}

#logout {
    width: auto;
    white-space: nowrap;
    float: right;
}

/* only before yourlib_footer (not implemented) or after yourlib_header */
.stop_float {
    clear: both;
}


#context_container {
    height: 100%;
    margin: 5px;
    position: absolute;
    left: 310px;
    top: 55px;
    overflow:hidden;
}

#context_header {
    width: 100%;
    height: 2em;
    line-height: 2em; /* vertical-align trick */
    /*background-color: #c4cCdF;*/
}

#context_header div {
    float: left;
    white-space: nowrap;
}

#context_header .btn {
    float: right;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#context_browse .devider {
    height: 5px;
    width: 100%;
    background-color: red;
}

/*
.collection .search .status {
    float: left;
}

.collection .search .input {
    float: left;
}
*/

.collection .artists {
    /*width: 200px;*/
    /*height: 100%;*/
    position: absolute;
    background-color: #f8f8f8;
    left: 0px;
    margin: 0px;
    padding: 5px;
    overflow: auto;
    overflow-x: hidden;
}

.songs {
    /*width: 100%;
    height: 100%;*/
    padding: 0px;
    margin: 0px;
    overflow: auto;
    overflow-x: hidden;
}

.songs ul {
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
}

.collection ul {
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*margin: 0;*/
}

/*
.collection li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
*/
/*
#context_browse_artist_container {
    background-color: #00ffff;
    width: 100%;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
}
*/
#context_collection_container {
    /*background-color: #00ffff;*/
    width: 100%;
    /*height: 500px;*/
    overflow: auto;
    overflow-x: hidden;
}

/* upload stuff */
#context_upload_container {
    overflow: auto;
    overflow-x: hidden;
}

#context_upload_ui {
    padding : 20px;
}

#upload_form_container form {
    padding: 20px;
}

#upload_status_content {
    margin-left: 20px;
}

.bar {
    height: 18px;
    background: green;
}

.progress {
    width: 300px;
    display: none;
}

#context_browse_container .browse_column {
    overflow: auto;
    overflow-x: hidden;
    float: left;
    margin: 0;
}

#context_browse_title_container {
    overflow: auto;
    overflow-x: hidden;
}


.browse_column .selected {
    font-weight: bold;
}

.browse_column .name  { float: left; }
.browse_column .count {
    float: right;
    font-size: x-small;
    margin-right: 15px;
    padding: 5px 1px 0 1px;
    width: 20px;
    text-align: right;
}
.browse_column .title {
    float: left;
}
.browse_column .track {
    width: 20px;
    float: left;
    text-align: right;
    padding: 0 2px 0 0;
}
.browse_column .length {
    width: 30px;
    font-size: x-small;
    text-align: right;
    margin-right: 15px;
    float: right;
    padding: 5 1px 0 1px;
}

.browse_column li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.browse_column li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.context_content {
    background-color: black;
    height: 100%;
}

#context_playlist_container {
    width: 100%;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
}

.currently_playing {
    /* dummy class to get/set currently playing */
}


.browse_column ul {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    white-space: nowrap;

    list-style-type: none;
    padding: 0;
}

#context_browse_container .genre {
    /*background-color: #D0D0D0;*/
}

#context_browse_container .artist {
    /*background-color: #A4ACBF;*/
}

#context_browse_container .album {
    /*background-color: #008000;*/
}

.browse_artist_item {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
}

.song_items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px
}

.song_item_heading {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    /*cursor: pointer;*/
}

.song_item_heading li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.song_item_heading ul {
    padding: 0;
}

.song_item {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    cursor: pointer;
}

.song_item li {
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.song_item ul {
    padding: 0;
}

.song_info {
    margin-left: 2px;
    margin-right: 2px;
}

/* playlist only */
.song_item .pos {
    text-align: right;
    width: 20px;
}

.song_item .artist {
    width: 300px;
}
.song_item .title {
    width: 300px;
}

.song_item .album {
    width: 250px;
}

/* album track number */
.song_item .track {
    text-align: right;
    width: 20px;
}

.song_item .genre {
    width: 250px;
}

.song_item .mime {
    width: 35px;
}

/* additional settings/functions */
.song_item .func {
    width: 25px;
}
.song_items br {
    clear: left;
}

.song_items li {
     float: left;
}

.song_item .collection_add_to .playlists {
    display: none;
    position: absolute;
    top: 0.7em;
}

.player_container {
    height: 100px;
}

/*

.song_item .song_info {
    width: 50%;
}

.player .controls {
}

.player .info div {
    white-space: nowrap;
    float: left;
}
*/

