<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript"> var csrf_token = "{{ csrf_token }}" </script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.appear-1.1.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.all.css"></link>

        <script type="text/javascript" src="{{ STATIC_URL }}js/yourlib_playlist.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/yourlib_sidebar.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/yourlib_collection.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/yourlib.js"></script>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/yourlib.css"></link>

        {% block head_title %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {# pre-defined dialogs, not visible hopefully #}
        <div class="hiddenInViewSource" style="padding:20px;">
            <div class="hiddenInViewSource" id="dialog-confirm" title="Cancel Rescan?">
                <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>A rescan should only be canceled after Server-Erros.</p>
            </div>
        </div><!-- End hidden stuff -->

    </body>
</html>
