
<html>
    <head>
<script type="text/javascript" >var csrf_token = "{{ csrf_token }}"</script>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
        <script type="text/javascript">
$(document).ready(function () {

        $( ".btn_append_song" ).click(function() {
            var $id = parseInt(this.id.substring(16));
            //alert("append " + $id);
            $.post("/playlist/append/default/" + $id, {"csrfmiddlewaretoken": csrf_token}, function() {
                alert("Bla");
                var pl = $( "#playlist" );
                //pl.html(new_playlist);
            });
            return false; // don't do anything anymore
        });
        $( ".btn_play_song" ).click(function() {
            var $id = parseInt(this.id.substring(14));
            $( "#player1_ogg_source" ).attr("src", "song/play/" + $id).appendTo("#player1");
            $( "#player1" )[0].pause();
            $( "#player1" )[0].load();
            $( "#player1" )[0].play();
            //$.get("/song/play/" + $id, function(song_path) {
            //    alert (song_path);
            //    //$( "#player1" ).attr("src", song_path);
            //    //var pl = $( "#playlist" );
            //    //pl.empty();
            //    //for (i in songs) {
            //    //    if (songs[i]) {
            //    //        pl.append(NewSongItem(songs[i], playlist_item=true));
            //    //    }
            //    //}
            //});
            return false; // don't do anything anymore
        });
});

        </script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
