{% if column == "artist" %}
    {% for artist in artists %}
        <li class="artist btn ui-state-default btn_browse_artist" data-artist_id="{{ artist.id }}">{{ artist }}</li>
    {% endfor %}
{% endif %}

{% if column == "album" %}
    {% for album in albums %}
        <li class="album btn ui-state-default btn_browse_album" data-album_id="{{ album.id }}">{{ album }}</li>
    {% endfor %}
{% endif %}

{% if column == "title" %}
    {% for title in songs %}
        <li class="title btn ui-state-default btn_browse_title" data-title_id="{{ title.id }}">{{ title.track }} - {{ title }}</li>
    {% endfor %}
{% endif %}