{% load music_extras %}
{% spaceless %}
{% if column == "artist" %}
    {% for artist in artists %}
        <li class="artist btn ui-state-default btn_browse_artist" data-artist_id="{{ artist.id }}">
            <span class="name">{{ artist }}</span>
            <span class="count">{{ artist.song_set.count }}</span>
        </li>
    {% endfor %}
{% endif %}

{% if column == "album" %}
    {% for album in albums %}
        <li class="album btn ui-state-default btn_browse_album" data-album_id="{{ album.id }}">
            <span class="name">{{ album }}</span>
            <span class="count">{{ album.song_set.count }}</span>
        </li>
    {% endfor %}
{% endif %}

{% if column == "title" %}
    {% for title in songs %}
        <li class="title btn ui-state-default btn_browse_title" data-title_id="{{ title.id }}">
            {{ title.track }} - {{ title }} <span style="font-size: small">({{ title.length|formatSeconds }})</span>
        </li>
    {% endfor %}
{% endif %}
{% endspaceless %}
