{% for s in songs %}
<li class="song_item ui-widget-content ui-state-default ui-corner-all" data-song_id="{{ s.id }}" data-playlist_id="{{ playlist.id }}" id="collection_song_id_{{ s.id }}">
    <ul class="ui-widget-reset  ui-helper-clearfix">
        <li class="song_info artist" title="{{ s.artist_set.all.0 }}">{{ s.artist_set.all.0 }}</li>
        <li class="song_info title" title="{{ s.title }}">{{ s.title }}</li>
        <li class="song_info album" title="{{ s.album_set.all.0 }}">{{ s.album_set.all.0 }}</li>
        <li class="song_info track">{{ s.track }}</li>
        <li class="song_info genre" title="{{ s.genre_set.all.0 }}">{{ s.genre_set.all.0 }}</li>
        <li class="song_info mime">{{ s.mime|cut:"audio/" }}</li>
    </ul>
</li>
{% endfor %}
