<div id="context_collection_songs" class="search_results">
{% if songs|length > 0 %}
    <ul class="song_items">
        {% for s in songs %}
        <li class="song_item">
        <div class="song_info">{{ s }} ({{ s.mime }})</div>
        <div class="btn_collection_play_song btn" data-song_id="{{ s.id }}" >play</div>
        <div>append to</div>
        {% for pl in playlists %}
        <div class="btn_collection_append_to_playlist btn" data-playlist_id="{{ pl.id }}" data-song_id="{{ s.id }}">{{ pl.name }}</div>
        <div class="stop_float"></div>
        {% endfor %}
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>No results</p>
{% endif %}
</div>
