<div id="context_collection_songs_container"><!-- required anchor -->
    {% comment %}<div id="context_collection_filter_container">
        {% if music_session.filter_show %}
        {% include "collection_filter.html" %}
        {% endif %}
    </div>{% endcomment %}
    <div id="songs">

        <div id="songs_count" style="visibility:collapse;">{{ songs_count }}</div>
        <ul class="song_items ui-helper-clearfix" id="collection_song_items">
            <!-- header -->
            <li class="song_item_heading ui-widget-header">
                <ul class="ui-widget-reset ui-helper-clearfix">
                    <li class="song_info artist">Artist</li>
                    <li class="song_info title">Title</li>
                    <li class="song_info album">Album</li>
                    <li class="song_info track" title="Track number in album">#</li>
                    <li class="song_info genre">Genre</li>
                    <li class="song_info mime" title="File type">&nbsp;</li>
                </ul>
            </li>
            {% include "collection_songs_li.html" %}
        </ul>
        <div id="loading_collection" style="{
background: #C1C39A;
color: #303030;
font-size: 20px;
padding: 5px 10px;
text-align: center;
width: 450px;
margin: 0px auto;
display: none;
border-radius: 5px;}">Loading...</div>
    </div>
</div>