<div class="context_content">
    <div class="collection">

        <div class="search">
            <div class="input">Search <input id="context_collection_search" type="text"></div>
            <div class="status" id="context_collection_search_status"></div>
            <div class="stop_float"></div>
        </div>

        <div class="filter">
            <div class="artist">
                <ul>
                    <li>list of artists</li>
                </ul>
            </div>
            <div class="album">
                <ul>
                    <li>list of albums</li>
                </ul>
            </div>
        </div>
        <div class="songs" id="context_collection_songs">
            <!-- will be filled with search or artist/album selection -->
        </div>
    </div>
</div>
