<div id="context_content">
    <div id="context_browse">

        <div id="context_header" class="ui-widget-header ui-corner-tl ui-corner-tr">
            
        </div>

        <div id="context_browse_container" class="ui-widget-content ui-corner-all">

            {% if column_from %}
                <!-- I keep my javascript code stupid. I need to tell here what column has requested the data -->
                <div style="visibility: hidden;" id="column_from">{{ column_from }}</div>
            {% endif %}

            {% for column in columns %}
                {% include "browse_column.html"%}
            {% endfor %}
        </div>
    </div>
</div>
