{% extends "base.html" %}

{% block content %}
<h1>Hi {{ request.user.username }}</h1>

<h1>Player</h1>

<div id="player1_container">

    <p><a href="#" class="btn_player1_next">next</a> <a href="#" class="btn_player1_stop">stop</a> </p>

    <audio id="player1" controls="controls" preload="auto" >
    <source id="player1_ogg_source" type="audio/ogg" src="" ></source>
    </audio>

    <div id="player1_info_container">
        <div id="player1_song_info_artist"></div> - <div id="player1_song_info_title"></div>
    </div>
</div>

<h1>Suche</h1>
{% include "search.html" %}

<h1>Deine Playlists</h1>
{% include "playlists.html" %}

<h1>Deine Songs</h1>
{# {% include "songs.html" %} #}

{% endblock %}

