{% extends "base.html" %}

{% block head_title %}
<title>yourlib - play your own music!</title>
{% endblock %}

{% block content %}

{% include "yourlib_header.html" %}

<div class="content" id="content">

    <div class="sidebar ui-widget-content ui-corner-all" id="sidebar">

        {% include "yourlib_player1.html" %}

        <div style="height:3px; width:100%; background-color:#5f5f5f;"></div>

        <div class="ui-widget-content">

            <h1 class="ui-widget-content btn ui-state-default" id="btn_context_collection">Collection</h1>
            <h2 class="btn ui-state-default" id="btn_sidebar_browse">Browse</h2>

            <h1 class="ui-widget-content ui-state-default" id="btn_context_playlists">Playlists</h1>

            <div id="sidebar_playlists_content">
                {% include "playlists.html" %}
            </div>
            <h2 style="float:left;">New:</h2>
            <form id="playlist_create">
                <input id="playlist_create_name" name="playlist_name" type="text" size="10" maxlength="32">
            </form>

            <h1 class="btn ui-state-default" id="btn_context_upload">Upload</h1>
            <!--<h1 class="btn ui-state-default" id="btn_context_download">Download</h1>-->

        </div>
    </div>

    <div id="context_container" class="ui-widget-content ui-corner-all">
        {% if music_session.currently_playing == "collection" %}
            {% include "context_collection.html" %}
        {% elif music_session.currently_playing = "playlist" %}
            {% with music_session.current_playlist as playlist %}
                {% include "context_playlist.html" %}
            {% endwith %}
        {% endif %}
    </div>
</div>

<!-- <h1>Deine Playlists</h1> -->
{# {% include "playlists.html" %} #}

<!-- <h1>Deine Songs</h1> -->
{# {% include "songs.html" %} #}

{% endblock %}

