{% extends "base.html" %}

{% block head_title %}
<title>yourlib - play your own music!</title>
{% endblock %}

{% block content %}

{% include "yourlib_header.html" %}

<div class="content" id="content">

    {% block sidebar %}
        {% include "sidebar.html" %}
    {% endblock %}

    <div id="context_container" class="ui-widget-content ui-corner-all">
        {% block context_content %}
        
            {% comment %}
            
                {# when called from a child via 'extends', this block will be overwritten. If not, I fill it here. #}
                {% if current_view == "shares" %}
                    {% include "shares.html" %}
                {% else %}
                    {% include "collection.html" %}
                {% endif %}
                
            {% endcomment %}
            
        {% endblock %}
    </div>
</div>

{% endblock %}

