<div class="songs" id="context_playlist_songs">
{% if playlist.items.all|length > 0 %}

<ul id="playlist_content_{{ playlist.id }}" class="song_items">
    {% for i in playlist.items.all %}
    <li class="song_item">
            <ul>
<li class="btn_playlist_item_play btn song_info artist" data-playlist_id="{{ playlist.id }}" data-item_id="{{ i.id }}" data-song_id="{{ i.song.id }}">{{ i.song.artist }}</li>
<li class="btn_playlist_item_play btn song_info title"  data-playlist_id="{{ playlist.id }}" data-item_id="{{ i.id }}" data-song_id="{{ i.song.id }}">{{ i.song.title }}</li>
<li class="btn_playlist_item_play btn song_info album"  data-playlist_id="{{ playlist.id }}" data-item_id="{{ i.id }}" data-song_id="{{ i.song.id }}">{{ i.song.album }}</li>
<li class="btn_playlist_item_play btn song_info mime"   data-playlist_id="{{ playlist.id }}" data-item_id="{{ i.id }}" data-song_id="{{ i.song.id }}">{{ i.song.mime|cut:"audio/" }}</li>
<li class="btn_playlist_item_remove btn" data-song_id="{{ i.song.id }}" data-playlist_id="{{ playlist.id }}" data-item_id="{{ i.id }}">remove</li>
            </ul>
    </li>
    <br />
    {% endfor %}
</ul>

{% else %}

<div id="playlist_content_{{ playlist_id }}">No songs in playlist</div>

{% endif %}
</div>
