<div class="upload ui-widget-content ui-corner-all" id="context_upload_ui">
    <p>Please upload .zip .ogg or .mp3 files.</p>

    <div id="upload_form_container">
        <form enctype="multipart/form-data" action="upload/file/" method="POST" id="upload_form">
            {% csrf_token %}
            <input type="submit" value="Upload"/>
            <input type="file" name="file">
        </form>
    </div>

    <div class="progress">
        <p>Uploading</p>
        <div class="bar"></div >
        <div class="percent">0%</div >
        <div id="upload_progress_bar"></div>
    </div>

    <div id="upload_status">
        <p>Other ongoing upload actions:</p>
        {% include "upload_status.html" %}
    </div>

</div>
