<div id="player1_container" class="player_container">

    <div class="controls">
        <div class="btn" id="btn_player1_next">next</div>
        <!-- <div class="btn" id="btn_player1_stop">stop</div> -->
    </div>

    <div id="player1_temp">
    <audio id="player1" controls="controls" preload="auto" >
        <source id="player1_ogg_source" type="audio/ogg" src="" ></source>
        <source id="player1_mp3_source" type="audio/mp3" src="" ></source>
    </audio>
    </div>

    <div id="player1_info_container" class="player_song_info">
        <div id="player1_song_info_artist"></div><div> - </div><div id="player1_song_info_title"></div>
        <br />
    </div>
</div>
